<nav fxLayout="row">
  <mat-toolbar class="top-bar flex-container justify-content-center">
    <a href="">
      <h3>Bible Verse</h3>
    </a>
  </mat-toolbar>
  <!-- --------------------- -->
  <mat-toolbar class=" down-bar flex-container justify-content-center">
      <!-- LIVROS -->
    <div class="dropdown">
      <button class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Livros</button>

      <ul class="dropdown-menu">
        <ng-container *ngIf="valida === false">
          <li>
            <div class="vt-titulo">
              <p>Velho Testamento</p>
            </div>
          </li>
          <li class="flex-menu-downbar">
            <span class="abbrev-button"  *ngFor="let l of velho" [value]="l.abbrev.pt">
              <button id="teste" class="bt" (click)="pegaLivro(l)">{{l.abbrev.pt}}</button>
            </span>
          </li>

          <li> 
            <div class="vt-titulo">
              <p>Novo Testamento</p>
            </div>
          </li>
          <li class="flex-menu-downbar">
            <span class="abbrev-button"  *ngFor="let l of novoTest" [value]="l.abbrev.pt">
              <button class="bt" (click)="pegaLivro(l)">{{l.abbrev.en}}</button>
            </span>
          </li>
        </ng-container>
        <ng-container *ngIf="valida === true">
          <li>
            <div class="vt-titulo">
              <p>Capitulos</p>
            </div>
          </li>
          <li class="flex-menu-downbar">
            <span class="abbrev-button"  *ngFor="let c of capitulo" [value]="c" >
              <button class="bt" (click)="pegaCapitulos(c, l.abbrev.pt)">{{c}}</button>
            </span>
          </li>
        </ng-container>
      </ul>
    </div>

    <!-- VERSAO -->
      <div class="dropdown">
        <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Versão</button>
        <ul class="dropdown-menu">
          <li>
            <div class="vt-titulo">
              <p>Versão</p>
            </div>
          </li>
          <li class="flex-menu-downbar">
            <span class="abbrev-button"  *ngFor="let s of versao" [value]="s.version">
              <button class="bt" (click)="pegaVersao(s.version)">{{s.version}}</button>
            </span>
          </li>
        </ul>
      </div>
  </mat-toolbar>  
</nav>

<!-- TEXTO -->
<section class=" texto-container flex-container justify-content-center">
  <ul>
    <li class="nome-livro"> <h2>{{nomeLivro}} {{cap}} </h2> </li>
    <li *ngFor="let s of versos" [value]="s">
        <div class="texto-p">  <b>{{s.number}} </b>  {{s.text}}  </div>
    </li>
  </ul>
</section>

<ng-container *ngIf="cap + 1 <= ultimo">
<section class="button-direita" >
  <button class=" " mat-icon-button (click)="pegaCapitulos(cap+1, abbLivro)" >
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</section>
</ng-container>

<ng-container *ngIf="cap + 1 > ultimo">
  <section class="button-direita" >
    <button class=" " mat-icon-button (click)="pegaCapitulos(cap+1, abbLivro)" disabled="disabled">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </section>
  </ng-container>

<ng-container *ngIf="cap - 1 == 0">
  <section class="button-esquerda" >
    <button mat-icon-button (click)="pegaCapitulos(cap-1, abbLivro)" disabled="disabled">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </section>
 </ng-container>

<ng-container *ngIf="cap - 1 > 0">
  <section class="button-esquerda" >
    <button class=" "  mat-icon-button (click)="pegaCapitulos(cap-1, abbLivro)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </section>
</ng-container>

<router-outlet></router-outlet>

<!--


 -->


<!-- <a mat-button routerLink="/">
          <h3>My Wallet</h3>
      </a>
    
      <a> <h3>home</h3> </a>
    -->

<!-- <ul>
                <li class="abbrev"  *ngFor="let l of livros" [value]="l.abbrev.pt">
                <a href=""> {{l.abbrev.pt}}</a>
                </li>
              </ul>-->

  <!-- <a>
       <mat-form-field appearance="fill">
          <mat-label>Livros</mat-label>
            <mat-select>
              <mat-option *ngFor="let l of livros" [value]="l.name">
                {{l.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
     
     </a> -->

         <!-- CAPITULOS  
    <div class="dropdown">
      <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Capítulos</button>
      <ul class="dropdown-menu">
        <li>
          <div class="vt-titulo">
            <p>Capitulos</p>
          </div>
        </li>
        <li class="flex-menu-downbar">
          <span class="abbrev-button"  *ngFor="let c of capitulo" [value]="c" >
            <button class="bt" (click)="pegaCapitulos(c)">{{c}}</button>
          </span>
        </li>
      </ul>
    </div>
    -->